* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style-type: none;
    font-weight: bold;
    color: var(--base-color);
    font-size: 1.2em;
}

.main {
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

:root {
    --sidebar-bg: rgb(73, 139, 201);
    --basic-border: 1px solid black;
    --base-color: white;
}

.container {
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar {
    display: flex;
    justify-content: center;
    background-color: var(--sidebar-bg);
    grid-row: 1/-1;
    grid-column: 1;
    color: var(--base-color);
    padding: 1.5em;
}

.header {
    background-color: rgba(224, 208, 208, 0.582);
    box-shadow: 0 4px 2px -2px gray;
    grid-column: 2/-1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 50% 50%;
    z-index: 2;
}

.content-container {
    background-color: lightgreen;
    grid-column: 2/-1;
    grid-row: 2/-1;
    text-align: center;
}

.nav-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 1.5em;
    padding-right: 3.5em;
}

.nav-title {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    gap: 15px;
    padding: 10px 0px 0px 10px;
}

.nav-container li {
    display: flex;
    gap: 15px;
    padding: 10px 0px 0px 10px;
    align-items: center;
    font-size: 1.1em;
}

.header-upper {
    display: flex;
    justify-content: space-between;
    grid-row: 1;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header-upper img {
    height: 50px;
    width: 50px;
}

.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 50%;
    padding-left: 1.5em;
}

.search-bar img {
   width: 36px;
   height: 36px;
   margin-left: 1em;
}

#search {
    width: 100%;
    height: 2em;
    background-color: lightgray;
    padding: 5px;
    box-shadow: none;
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0;
    border: none;
    border-radius: 1em;
}

.profile-up {
    display: flex;
    gap: 0.5em;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    justify-content: space-around;
    padding-right: 1em;

}

.profile-up > img:first-child {
    height: 25px;
    width: 25px;
}

.header-lower {
    display: flex;
    justify-content: space-between;
    grid-row: 2;
}

.welcome {
    display: flex;
    width: 30%;
    padding-left: 1.5em;
    gap:1em;
}

.welcome img {
    height: 80%;
}

.welcome-txt {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-txt > p:first-child {
    font-size: 15px;
}

.welcome-txt > p:last-child {
    padding: 0 0 10px 0;
}

.header-btns {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: end;
    gap: 24px;
    padding-right: 24px;
}

.btn {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 1em;
    background-color: rgb(71, 131, 209,1);
    color: white;
}

.btn:hover {
    background-color: rgb(48, 107, 184);
}


/* placeholder */
.content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(181, 194, 207);
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px;
}

.project-cards {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    grid-auto-rows: minmax(250px, auto);
    row-gap: 2em;
    column-gap: 2em;
    padding-left: 20px;
    padding-bottom: 1em;
}

.card {
    display: flex;
    height: 250px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    gap: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 8px rgba(0,0,0,0), inset 14px -1px 0px 0px rgb(255, 202, 67);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 8px rgba(0,0,0,0), inset 14px -1px 0px 0px rgb(255, 190, 26);
}

.projects-container > h2 {
    text-align: left;
    padding: 2em 0 1em 1em;
}